<div class="container-fluid">
    
    
    <div class="row">
        <div class="col">
            <div class="photoDiv d-block">
                <img class="photoPreview" [src]="'/assets/images/'+getPhotoUrl()">
            </div>
            
            Title: <b>{{waterPoint.title}}</b><br>
            Reviews: {{waterPoint.reviewIds.length}}<br>
            Address: {{waterPoint.address}}<br>
            Rating: {{waterPoint.rating}}/5 <img src="assets/icons/star.png" height="20px"><br>
            Type: {{enumToString(waterPoint.waterPointType)}}<br>
            <div class="description">
             Description: {{waterPoint.description}}
            </div>
        </div>
        <div class="col">
            <b>Reviews:</b><br>
            <div class="d-flex itemsDiv" *ngIf="reviews$ | async as reviews">
                <div *ngFor="let review of reviews">
                    <app-review-item [review]="review"></app-review-item>
                </div>

            </div>

            <!-- <form>
                <label><b>Leave new review</b></label>
                <input type="text" class="newReview">
            </form> -->
        </div>
    </div>

    <div class="row" *ngIf="waterPoint.hasOrdering">
        <div class="productsTitle"><b>Products:</b></div>
        <div class="d-flex productsDiv" *ngIf="products$ | async as products">
            <div class="productItem" *ngFor="let product of products">
                <app-product-item [product]="product"></app-product-item>
            </div>

        </div>
    </div>

    
    
    


</div>

