.description{
    background-color: #EDC9A6;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.reviewsDiv{
    overflow:auto;
}

.photoDiv{
    width: 90%;
    height: 200px;
}

.photoPreview{
    max-height: 200px;
    max-width: 90%;
}



.itemsDiv{
    height: max-content;
    flex-direction: column;
    gap:15px;
}

.productsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.productsDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.productItem{
    width: 70%;
}