<div class="product w-100 row">
    <div class="d-flex col-8 productInfo">
        
        <div class="photoTitleDiv">
            <span>
                <b>Title:</b><br><u>{{product.title}}</u>
            </span>
            <div class="photoDiv">
                <img class="photoPreview" [src]="'/assets/images/'+getPhotoUrl()">
            </div>
            
           
        </div>

        <b>Type:</b> {{enumToString(product.type)}}<br>
        <b>Description:</b> {{product.description}}<br>
        <b>Price per unit:</b> {{product.price}}<br>
    </div>
    <div class="col-4 buttonsDiv">
        <form [formGroup]="form">
            <span>
                <input formControlName="quantity" id="numberOfUnits" class="customInput" type="number" min="1" [max]="product.quantityAvailable">
                ({{product.quantityAvailable}})<br>
            </span>
            <button class="btn btn-success custButton" (click)="addToCart()">
                <b>Submit</b>
            </button>
        </form>
        
        <div class="infoAboutAddedProduct" *ngIf="isAdded">
            Added<br>
            {{quantity}}<br>
            to the cart
        </div>
    </div>
</div>
