nav>a{
    margin-left:6em
}


.homeDiv{
    vertical-align: bottom;
    padding-top: 3px;
}

.navbar{
    background-color: #BBB2B5;
}

.nav-item{
    display: flex;
    align-items: center;
}

.logOut{
    cursor: pointer;
}

.links{
    gap:30px;
}