.closeField{
    opacity: 50%;
    background-color: black;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

.modalContent{
    width:600px;
    height:600px;
    position: fixed;
    top: calc(50vh - (600px / 2));
    left: calc(50vw - (600px / 2)); 
    background-color: #EDD7CC;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    overflow: auto;
    
}

.titleDiv{
    display: block;
    margin-top:30px;
    margin: 50px;
    text-align: center;
}

.contentDiv{
    
}

